<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-9">
            <div class="card">
              <div class="card-header">
                  <div class="container">
                      <div class="row justify-content-between">
                        <div class="col-md-8">
                            タイトル
                        </div>
                        <div class="col-md-4 text-right">
                          
                        </div>
                      </div>
                  </div>
              </div>
              <div class="card-body">
                日記を作成してください
              </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
              <div class="card-body mb-0 pl-0 pr-0 pt-1">
                <ul>
                    
                </ul>
              </div>
            </div>
        </div>
    </div>
</div>